.category{
    padding: 2rem;
    padding-bottom: 10rem;
}
.category__slider{
    width: 100%;
    display:flex;
    gap:5rem;
}
.category_title{
    text-align: center;
    font-size: 3rem;
    font-weight:500;
}
.category__slider_item-1, .category__slider_item-2, .category__slider_item-3 , .category__slider_item-4{
    position: relative;
    max-width: 280px;
}

.category__slide_title{
    position: absolute;
    top: 2rem;
    font-size: 1.2rem;
}
.category__slide_image{
    position: absolute;
    display: flex;
    justify-content: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:60%;
}
.category__amount{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding:0.1rem 0.8rem;
    background-color: #FA8FEF;
    border-radius: 4rem;
    position: absolute;
    transform: rotate(-30deg);
    right:-2rem;
    top:30%;
}
.category__details{
    display: flex;
    border-radius: 99rem;
    border:1px solid #D9FF5A;
    background:#BDABEC;
    position: absolute;
    padding:1.5rem;
    left:50%;
    transform: translate(-50%,-50%);
}
.category__details>img{
    width:25px;
}
.category_goods_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}
#category_goods{
    padding-top: 5rem;
}
.category_goods_item{
   display: flex;
    flex-direction: column;
    max-width: 13rem;
    width: 100%;
}
.category_goods_img{
    margin:0 auto;
    padding-bottom: 1rem;
}
.category_goods_img>img{
    height: 200px;
}
.category_goods_description{
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #D9FF5A;
}
.category_goods_description-2{
    position: relative;
    margin-top: 1rem;
    font-size: 1.7rem;
}
.category__price_amount{
    position: absolute;
    bottom: 0.9rem;
    left:32%;
    width: 10px;
}
.category__price_amount>img{
    width: 100%;
}
.round{
    position: absolute;
    width:15px;
    height:15px;
    background:#A5D4FF;
    border-radius:99rem;
    border:1px solid white;
}
.category_goods_items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}
#category_goods{
    display: none;
}
.upload-more_img{
    position: relative;
}
@media(max-width: 1024px){
    .category_goods_items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap:3rem;
    }
}
@media(max-width: 978px){
    .category{
        padding: 1rem;
    }
}
@media(max-width: 768px){
    .category_goods_items{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 576px){
    .category_goods_items{
        grid-template-columns: 1fr;
    }
    .category_title{
        font-size: 2rem;
    }
}
