#contacts-wrapper{
    overflow-y: auto;
    display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #BDABEC;
        top:0;
        z-index:100000;
        font-size:0.9rem;
}
.contacts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3rem;
    border-right: 3rem;
}
.contacts-grid{
    /*padding:3rem;*/
    padding-bottom:0;
    display: grid;
    grid-template-columns:1fr 1fr;
    /*gap:5rem;*/
}
.contacts-flex{
    border-top-left-radius: 3rem;
    padding:3rem;
    display: flex;
    justify-content: space-between;
    background: #AE97E8;
}
.opacity07{
    opacity: 0.7;
}
.font3{
    font-size:3rem;
}
.flex{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.flex-between{
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
.mt-4{
    margin-top:4rem;
}
.text-left{
    text-align: left;
}
.flex-around{
    justify-content: space-around;
}
.bg-pink{
    position: relative;
    background: #FA8FEF;
    border-top-right-radius: 3rem;
}
.padding-3rem{
    padding: 3rem;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.send{
    margin-top:2rem;
    display: flex;
    background: #F79FF2;
    border:1px solid #D9FF5A;
    border-radius:80%;
    padding:1.5rem 1.7rem;
    font-size: 1rem;
}
.close-contacts{
    width:1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}
.close-contacts>img{
    width:100%;
}
.map{
    max-width: 100%;

    /*padding-left:3rem;*/
    /*padding-right:3rem;*/
}
.contacts{
    max-width: 1400px;
    width: 100%;
}
@media(max-width:978px){
    .contacts-grid{
        grid-template-columns:1fr;
    }
    .bg-pink{
        border-radius: 0;
        padding:2rem;
    }
    .contacts-flex{
        border-top-right-radius: 3rem;
        padding:2rem;
    }
    .contacts-container{
        padding:2rem;
    }
    .contacts-form{
        padding:1rem;
    }
}
@media(max-width:400px){
    .contacts-descr{
        flex-direction: column;
        align-items: start;
    }
    .contacts-form{
        padding:0 !important;
    }
}

