.modalRegistration-wrapper{
    display: none;
    position: fixed;
    max-width:550px;
    z-index: 1000;
    width: 100%;
    top:10%;
    right:3.5rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 1.5rem;
}

.modalLogin-wrapper{
    display: none;
    position: fixed;
    max-width:550px;
    z-index: 1000;
    width: 100%;
    top:10%;
    right:3.5rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 1.5rem;
}

.modalRegistration{

    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:2rem;

}
input{
    width: 100%;
}
.modalRegistration_input{
    padding:0.5rem 0;
    border-bottom:1px solid #D9FF5A;
}
.modalRegistration_input>input::placeholder{
    font-size:0.8rem !important;
}
.ellipse{
    /*position:relative;*/
    max-width:10rem;
    width:100%;
    height:5rem;
    display: flex;
    align-items: center;
    /*padding:2rem ;*/
    background: rgba(255, 255, 255, 0.27);
    border-radius:100%;
    border:2px solid #D9FF5A;
    /*height:5rem;*/
    transform: rotate(-10deg);
}
.signup-title{
    position: absolute;
    bottom: 24%;
    left: 12.5%;
}
.signup-close, .login-close{
    position: absolute;
    top:2%;
    right:2%;
}
.login-set, .register-set{
    display: flex;
    align-items: center;
    gap:1rem;
}

.arrow{
    width:1.9rem;
}
.login-title{
    position: absolute;
    bottom: 29%;
    left: 17%;
}
.toggle-title{
    font-size: 0.8rem;
}
@media(max-width: 576px){
    .modalRegistration-wrapper , .modalLogin-wrapper{
        right:0;
    }
}
@media(max-width: 480px){
    .login-title{
        bottom: 30%;
        left: 22%;
    }
}
@media(max-width: 375px){
    .login-title{
        bottom: 29%;
        left: 25%;
    }
    .signup-title{
        left: 19%;
    }
}