@import url('./../assets/fonts/font/stylesheet.css');
@import url('../assets/fonts/leMurmure/stylesheet.css');
@import url('../assets/fonts/wavy/styleWavy.css');
@import url('./navbar.css');
@import url('./slider.css');
@import url('./category.css');
@import url('./blog.css');
@import url('./login.css');
@import url('./singleGoods.css');
@import url('./contacts.css');
@import url('./favourite.css');
@import url('./cart.css');

:root {
    --main-font: 'Euclid Circular A', Arial, sans-serif;
    --secondary-font:'Le Murmure', cursive;
    --wavy-font:'Wavy', cursive;
}

p{
    margin: 0;
}

body {
    font-family: var(--main-font);
    /*position: relative;*/
    line-height: 1.6;
    margin: 0;
    /*padding: 1rem;*/
    background-color:#AE97E8 ;
    color: white;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
input{
    background-color: transparent ;
    border: none;
    color: white;
}
input:focus{
    outline: none;
    border: none;
}
input::placeholder{
    font-size: 1rem;
    color:white;
}
.leMureText{
    font-family: var(--secondary-font);
}
.font-2rem{
    font-size: 2rem;
}
.fz-title{
    font-size:3rem;
    font-weight: 400;
}
.font-08rem{
    opacity: 0.7;
    font-size: 0.8rem;
}
.price{
    display: flex;
    margin-top: 1rem;
    font-size: 3rem;
    color:#D9FF5A;
    position: relative;
}
.price_amount{
    position: absolute;
    bottom: 1.3rem;
    left:40%;
}
.flex-center{
    display: flex;
    align-items: center;
    gap:.5rem;
    justify-content: space-between;
}
.wavy{
    font-family: var(--wavy-font);
 }
.text-center{
    text-align: center;
}
.font-1-5rem{
    font-size: 1.5rem;
    font-weight: 500;
}
button {
    margin: 0;
    padding: 0;
    border: none;

    background: none;
    color: inherit;

    appearance: none;
    -webkit-appearance: none;

    outline: none;
    box-shadow: none;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-2{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.price-fav{
    padding-top:1rem;
    font-size:1.7rem;
    font-weight: 400;
    position: relative;
}
.fav-price_amount{
    position: absolute;
    top:0.2rem;
    left:4.5rem;
}


@media(max-width:576px){
    .font-2rem{
        font-size: 1.5rem;
    }
}