<nav class="navbar">
    <div class = "navbar__links main-group">
        <a href="/index.html" class="leMureText font-2rem">Elfen lied</a>
        <div class = "navbar__link_item">
            <img class="catalog" src="./../assets/icons/catalog.svg" alt="каталог">
            <a href="#" class="catalog">Каталог</a>
        </div>
    </div>
    <div class = "navbar__links">
        <a href="#blog" class="blog-icon">Блог</a>
        <div>
            <a href="#" class="contact-icon callTitle">Контакты</a>
        </div>
    </div>
    <div class = "navbar__links utils-group">
        <div class = "navbar__link_item">
            <img src="./../assets/icons/search.svg" alt="поиск">
            <input class="search" type="text" placeholder="Поиск">
        </div>
        <div class = "navbar__links utils-group_item">
            <button class = "favourite-icon"><img src="../assets/icons/favourite.svg" alt=""></button>
            <button class="user"><img src="../assets/icons/user.svg" alt=""></button>
            <button>
                <a href="/pages/cart.html"><img src="../assets/icons/cart.svg" alt=""></a>
            </button>


        </div>
        <img class="contact-icon callIcon" src="./../assets/icons/call.svg" alt="">
    </div>
</nav>
